data/

song_data/

artists/

__pycache__/

weights/

.vscode/

.idea/

song_split/

weights_album_split/

metrics/

metrics_song_split/

representation_output/

training _curves/

trials_song_split/

venv/

weights_song_split/

spectrograms.png


